@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

/*MAIN INDEX PAGE //////////////////////////*/
.header-text{
    font-family:'Big Shoulders Display';
    font-style: normal;
    width: 514px;
    height: 176px;
    font-size: 96px;
    font-weight: 900px;
    line-height: 88px;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    height: 176px;
    left: 13%;
    right: -50.89%;
    top: calc(50% - 176px/2 - 122.5px);
    
}

.image-n{
    background-image: url(n.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: absolute;
    left:-57%;
    right: 22.35%;
    /* top: 0%; */
    bottom: 0%;
    top: calc(106.4% - 1111px/2 - 122px);
 }


#overlay{
    z-index: 100;
}

.header-paragraph-content{
    font-family: 'outfit';
    font-style: normal;
    font-weight: 300;
    font-size:22px;
    line-height: 32px;
    color: #151515;
    position: absolute;
    width: 350px;
    height: 160px;
    left: 72.55%;
    right: 0%;
    top: calc(50% - 160px/2 - 130px);    
}

.header-text-1{
    font-family:'Big Shoulders Display';
    font-style: normal;
    font-size: 96px;
    font-weight: 900px;
    line-height: 88px;
    text-transform: uppercase;
    position: absolute;
    color: black;
    height: 176px;
    left: 1%;
    right: 46.75%;
    top: calc(119.5% - 1111px/2 - 122px);
}


.header-text-2{
    font-family:'Big Shoulders Display';
    font-style: normal;
    font-size: 96px;
    font-weight: 900px;
    line-height: 88px;
    text-transform: uppercase;
    position: absolute;
    color: green;
    height: 176px;
    left: 0%;
    /* right: 0%; */
    top: calc(50% - 176px/2 - 122px);
}

/* .header-text-2{
    font-family:'Big Shoulders Display';
    font-style: normal;
    font-size: 96px;
    font-weight: 900px;
    line-height: 88px;
    text-transform: uppercase;
    position: absolute;
    color: black;
    height: 176px;
    left: 1%;
    right: 46.75%;
    top: calc(50% - 176px/2 - 122px);
} */

.content-two-header{
    position: absolute;
    width: 350px;
    height: 120px;
    height: 120px;
    left: 13%;
    right: 4%;
    top: calc(46% - 120px/2 - 80px);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;

}

.content-two-text{
    position: absolute;
    height: 128px;
    left: 13%;
    right: 0%;
    top: calc(46% - 128px/2 + 76px);
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    width: 400px;
    color: #444444;
}

.main{
    position: relative;
    width: 1439px;
    height: 2554px;   
}

 .header-section{
    width: 1275px;
    height: 800px;
    position: absolute;
 }

 .mask{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: black;
    width: 450px;
    height: 799px;
 }

 .image-hero{
    background-image: url(desktop/image-hero.jpg);
    position: absolute;
    left:35.29%;
    right: 22.35%;
    top: 0%;
    bottom: 0%;
    width: 540px;
    height: 800px;
 }

 .button1idle-location{
    position: absolute;
    left: 72.55%;
    right: 11.45%;
    top: 51.75%;
    bottom: 39.25%;
    width: 204px;
    height: 72px;
    background-color: black;
    top: 414px;
    left: 925px;
    border:none;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3.63636px;
   
}

.button1idle-location:hover{
    background-color: #D5966C;
}


.icon-arrow-right-box{
    position: absolute;
    left: 88.55%;
    right: 7.06%;
    top:51.75%;
    bottom: 39.25%;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    align-items: center;
  
    border: none;
}

.icon-arrow-right{
    color: white;
    width: 8px;
    height: 24px;
    position:absolute;
    margin: 10px;
    right: 25%;
    top: 22%;
    bottom: 42.25%;
    border: 1px solid #FFFFFF;
    border: none;
    background-image: url(icon-arrow-right.svg);
    background-position: center;
}

.icon-arrow-right-box:hover{
    background-color: black;
}

.image-grid-1{
    background-image: url(desktop/image-grid-1.jpg);
    width: 635px;
    height: 400px;
    position: absolute;
    top: 980px;
    left: 640px;
}

.image-grid-2{
    background-image: url(desktop/image-grid-2.jpg);
    width: 635px;
    height: 720px;
    position: absolute;
    left: 165px;
    top: 1410px;
}

.image-grid-3{
    background-image: url(desktop/image-grid-3.jpg);
    width: 445px;
    height: 313px;
    position: absolute;
    left: 830px;
    top: 1410px;
}

.image-grid-4{
    width: 445px;
    height: 377px;
    top: 1753px;
    left: 830px;
    position: absolute;
    background-color: #151515;
}

.image-grid-4-header{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    height: 120px;
    left: 8%;
    right: 0%;
    top: calc(50% - 120px/2 - 64px);
   
}

.image-grid-4-content{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size:22px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    height: 96px;
    left: 8%;
    right: 0%;
    top: calc(50% - 96px/2 + 76px);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 30px;
    text-align: center;
  }

/*FOOTER FOR MAIN INDEX PAGE/////////////////////*/
footer{
    width: 1440px;
    height: 244px;
    position: absolute;
    background-color: #151515;
    top: 2310px;
    left: 0px;
}

.footer-heading{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 36px;
    width: 200px;
    height: 58px;
    position: absolute;
    left: 10%;
    right: 0%;
    top: 34%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-content{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    position: absolute;
    height: 84px;
    left: 35%;
    top: calc(50% - 84px/2);
    color: #FFFFFF;
    width: 400px;
}

.footer-icon-facebook{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 75%;
    top: 36%;
    background-image: url(icon-facebook.svg);
    background-repeat: no-repeat;
}

.footer-icon-instagram{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 77.6%;
    top: 36%;
    background-image: url(icon-instagram.svg);
    background-repeat: no-repeat;
}

.footer-icon-twitter{
    position: absolute;
    width: 200px;
    height: 22px;
    left: 80.2%;
    top: 36%;
    background-image: url(icon-twitter.svg);
    background-repeat: no-repeat;
}

.image-map{
    width: 1440px;
    height: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(desktop/image-map.png);
    background-repeat: no-repeat;
}

.middle-mask{
    position: absolute;
    width: 1440px;
    height: 548px;
    left: 0px;
    top: 600px;
    background-color: #151515;
}

.middle-mask-heading-l{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    height: 140px;
    left: 8%;
    width: 20%;
    color: #FFFFFF;
    right: 68.47%;
    top: calc(50% - 140px/2 - 88px);
}

.middle-mask-heading-s{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    position: absolute;
    height: 36px;
    left: 51.35%;
    color: #D5966C;
    top: calc(50% - 140px/2 - 88px);
}

.middle-mask-content-s{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    height: 96px;
    left: 51.35%;
    top: calc(50% - 96px/2 - 40px);
}

.middle-mask-content-l{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    height: 128px;
    left: 51.35%;
    width: 460px;
    right: 0%;
    top: calc(50% - 128px/2 + 94px);
}

/*FOOTER FOR LOCATION PAGE/////////////////////*/
.footer{
    width: 1440px;
    height: 244px;
    position: absolute;
    background-color: #D5966C;
    top: 548px;
    left: 0px;
}

.footer-heading-map{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 36px;
    width: 200px;
    height: 58px;
    position: absolute;
    left: 10%;
    right: 0%;
    top: 34%;
    color:#151515;
    text-transform: uppercase;

}

.footer-content-map{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    position: absolute;
    height: 84px;
    left: 35%;
    top: calc(50% - 84px/2);
    color: black;
    width: 400px;
}

.footer-icon-facebook-map{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 75%;
    top: 36%;
    background-image: url(icon-facebook.svg);
    background-repeat: no-repeat;
    filter: invert(100%);
}

.footer-icon-instagram-map{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 77.6%;
    top: 36%;
    filter: invert(100%);
    background-image: url(icon-instagram.svg);
    background-repeat: no-repeat;
}

.footer-icon-twitter-map{
    position: absolute;
    width: 200px;
    height: 22px;
    left: 80.2%;
    top: 36%;
    filter: invert(100%);
    background-image: url(icon-twitter.svg);
    background-repeat: no-repeat;
}

.button1idle-back-to-home{
    position: absolute;
    left: 212px;
    top: 0%;
    width: 208px;
    height: 72px;
    background-color: black;
    border:none;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3.63636px;
   
}

.button1idle-back-to-home:hover{
    background-color: #D5966C;
}


.icon-arrow-left-box{
    position: absolute;
    left: 156px;
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    align-items: center;
    border: none;
}

.icon-arrow-left{
    color: white;
    width: 8px;
    height: 24px;
    position:absolute;
    left: 20px;
    top: 27px;
    border: 1px solid #FFFFFF;
    border: none;
    background-image: url(icon-arrow-left.svg);
    background-position: center;
}

.icon-arrow-left-box:hover{
    background-color: black;
}

/*MEDIA QUERY FOR PHONE SIZE*/
/*PHONE MEDIA SIZE FOR MAIN INDEX PAGE/////////////////*/

@media only screen and (min-width:320px) and (max-width:480px){

    *{
        margin: 0%;
        padding: 0%;
    }
    .main {
        width: 480px;
        height: 758px;
    }

    .header-section {
        width: 480px;
        height: auto;
        position: absolute;
    }

    
    .mask {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-color: white;
        width: 0px;
        height: 0px;
    }

    .image-hero {
        width: 752px;
        height: 494px;
        background-image: url(mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        /* display: block; */
    }

    .header-text {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        width: 500px;
        height: 92px;
        font-size: 107px;
        font-weight: 900px;
        line-height: 108px;
        text-transform: uppercase;
        position: absolute;
        color: black;
        left: 7%;
        right: 0%;
        top: calc(-44% + 701px/2 - -188px);
    }

    .header-paragraph-content {
        font-family: 'outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        line-height: 47px;
        color: #151515;
        position: absolute;
        width: 593px;
        height: 112px;
        left: 8%;
        right: 0%;
        top: calc(48% + 1284px/2 + 155px);
    }

    .button1idle-location {
        position: absolute;
        left: 7%;
        top: calc(69% + 1784px/2 + 155px);
        width: 300px;
        height: 117px;
        background-color: black;
        border: none;
        color: white;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        letter-spacing: 3.63636px;
    }

    .icon-arrow-right-box {
        position: absolute;
        left: 69.5%;
        right: 7.06%;
        top: calc(69% + 1782px/2 + 155px);
        bottom: 67.25%;
        width: 81px;
        height: 118px;
        background-color: #D5966C;
        align-items: center;
        border: none;
    }

    .icon-arrow-right {
        color: white;
        width: 10px;
        height: 23px;
        position: absolute;
        margin: 10px;
        right: 34%;
        top: 32%;
        bottom: 22.25%;
        border: 1px solid #FFFFFF;
        border: none;
        background-image: url(icon-arrow-right.svg);
        background-position: center;
    }

    .image-grid-1 {
        background-image: url(mobile/image-grid-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 653px;
        height: 489px;
        position: absolute;
        left: 5.2%;
        top: 1314px;
        /* display: block; */
    }
    .content-two-header {
        position: absolute;
        width: 481px;
        height: 86px;
        left: 5%;
        /* right: 4%; */
        top: calc(90% + 3672px/2 + 12px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 104px;
        line-height: 101px;
        text-transform: uppercase;
        color: #151515;
    }

    .content-two-text {
        position: absolute;
        height: 112px;
        left: 6%;
        right: 0%;
        top: calc(53% + 4036px/2 + 55.5px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 33px;
        line-height: 49px;
        width: 569px;
        color: #444444;
    }

    .image-grid-2 {
        background-image: url(mobile/image-grid-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 635px;
        height: 839px;
        position: absolute;
        left: 6.2%;
        top: 2344px;
        /* display: block; */
    }

    .image-grid-3 {
        background-image: url(mobile/image-grid-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 635px;
        height: 372px;
        position: absolute;
        left: 6.2%;
        top: 3197px;
        /* display: block; */
    }

    .image-grid-4 {
        width: 635px;
        height: 479px;
        top: 3584px;
        left: 6.2%;
        position: absolute;
        background-color: #151515;
    }

    .image-grid-4-header {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 91px;
        line-height: 113px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        height: 99px;
        left: 58px;
        right: 0%;
        top: calc(50% - 333px/2 - 54px);
    }

    .image-grid-4-content {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 37px;
        line-height: 42px;
        color: #FFFFFF;
        position: absolute;
        height: 84px;
        width: 427px;
        left: 54px;
        right: 0%;
        top: calc(50% - 64px/2 + 57px);
    }


    footer {
        width: 772px;
        height: 456px;
        position: absolute;
        background-color: #151515;
        top: 4159px;
        left: 0px;
    }

    .footer-heading {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 44px;
        width: 222px;
        height: 40px;
        position: absolute;
        left: 9%;
        right: 0%;
        top: 10%;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    
    .footer-content {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 36px;
        position: absolute;
        height: 106px;
        left: 9%;
        top: calc(50% - 104px/2 + 10px);
        color: #FFFFFF;
        width: 455px;
    }
    
    .footer-icon-facebook {
        position: absolute;
        width: 44px;
        height: 44px;
        left: 9%;
        top: 80%;
        /* bottom: 0%; */
        background-image: url(icon-facebook.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }


    .footer-icon-instagram {
        position: absolute;
        width: 42px;
        height: 42px;
        left: 15%;
        top: 80%;
        background-image: url(icon-instagram.svg);
        background-repeat: no-repeat;
    }
    
    .footer-icon-twitter {
        position: absolute;
        width: 45px;
        height: 42px;
        left: 22%;
        top: 80%;
        background-image: url(icon-twitter.svg);
        background-repeat: no-repeat;
    }
}


/*MEDIA QUERY FOR TABLET SIZE*/
/*TABLET MEDIA SIZE FOR MAIN INDEX PAGE/////////////////*/

@media only screen and (min-width:481px) and (max-width:825px){
    
    *{
        margin: 0%;
        padding: 0%;
    }

    .main {
        width: 825px;
        height: 725px;  
    }

    .header-section {
        width: 825px;
        height: 800px;
        position: absolute;
    }


    .mask {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-color: white;
        width: 0px;
        height: 0px;
    }
    .image-hero {
        background-image: url(tablet/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        top: 0%;
        bottom: 0%;
        width: 392px;
        height: 499px;
    }

    .header-text {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        width: 341px;
        height: 130px;
        font-size: 62px;
        font-weight: 900px;
        line-height: 58px;
        text-transform: uppercase;
        position: absolute;
        color: #151515;
        height: 176px;
        left: 42.1%;
        z-index: 1;
        top: calc(35% - 176px/2 - 80.5px);
    }


   .header-paragraph-content {
    font-family: 'outfit';
    font-style: normal;
    font-weight: 300px;
    font-size: 17px;
    line-height: 25px;
    color: #151515;
    position: absolute;
    width: 302px;
    height: 112px;
    left: 42.2%;
    right: 0%;
    top: calc(47% - 189px/2 - 26px);
}


.button1idle-location {
    position: absolute;
    left: 42.2%;
    top: 49%;
    width: 159px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 3.63636px;
}

.icon-arrow-right-box {
    position: absolute;
    left: 61.5%;
    top: 49%;
    width: 32px;
    height: 50px;
    background-color: #D5966C;
    align-items: center;
    border: none;
}
.icon-arrow-right {
    color: white;
    width: 9px;
    height: 21px;
    position: absolute;
    margin: 10px;
    right: 8%;
    top: 12%;
    bottom: 42.25%;
    border: 1px solid #FFFFFF;
    border: none;
    background-image: url(icon-arrow-right.svg);
    background-position: center;
}

.content-two-header {
    position: absolute;
    width: 173px;
    height: 135px;
    left: 4%;
    top: calc(90% - -33px/2 - 80px);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 44px;
    text-transform: uppercase;
    color: #151515;
}
    .image-grid-1 {
        background-image: url(tablet/image-grid-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 330px;
        height: 331px;
        position: absolute;
        top: 577px;
        left: 373px;
    }
    .content-two-text {
        position: absolute;
        height: 128px;
        left: 4%;
        top: calc(85% - -143px/2 + 76px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        width: 300px;
        color: #444444;
    }

    .image-grid-2 {
        background-image: url(tablet/image-grid-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 376px;
        height: 650px;
        position: absolute;
        left: 4%;
        top: 928px;
    }

    .image-grid-3 {
        background-image: url(tablet/image-grid-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 282px;
        height: 308px;
        position: absolute;
        left: 51%;
        top: 928px;
    }

    .image-grid-4 {
    width: 281px;
    height: 330px;
    top: 1248px;
    left: 51%;
    position: absolute;
    background-color: #151515;
}

.image-grid-4-header {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 48px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    height: 120px;
    left: 8%;
    right: 0%;
    top: calc(65% - 233px/2 - 64px);
}

.image-grid-4-content {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    height: 96px;
    left: 8%;
    right: 0%;
    top: calc(40% - 67px/2 + 76px);
    width: 228px;
}

footer {
    width: 825px;
    height: 200px;
    position: absolute;
    background-color: #151515;
    top: 1664px;
    left: 0px;
}

.footer-heading {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 30px;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 4%;
    right: 0%;
    top: 24%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-content {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200;
    line-height: 23px;
    font-size: 17px;
    position: absolute;
    height: 84px;
    left: 27%;
    top: calc(54% - 124px/2);
    color: #FFFFFF;
    width: 283px;
}

.footer-icon-facebook {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 70%;
    top: 25%;
    background-image: url(icon-facebook.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-icon-instagram {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 75.5%;
    top: 25%;
    background-image: url(icon-instagram.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-icon-twitter {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 81%;
    top: 25%;
    background-size: cover;
    background-image: url(icon-twitter.svg);
    background-repeat: no-repeat;
}
}

/*MEDIA QUERIES FOR LOCATION PAGE*/
/*PHONE MEDIA FOR THE LOCATION*/
@media only screen and (min-width:320px) and (max-width:480px){

    *{
        margin: 0%;
        padding: 0%;
    }

    .main {
        width: 825px;
        height: auto; 
    }

    .image-map {
        width: 480px;
        height: 704px;
        position: absolute;
        left: -49px;
        top: 0px;
        background-image: url(mobile/image-map.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .icon-arrow-left-box {
    position: absolute;
    left: 49px;
    width: 39px;
    height: 56px;
    background-color: #D5966C;
    align-items: center;
    border: none;
}

.button1idle-back-to-home {
    position: absolute;
    left: 88px;
    top: 0%;
    width: 169px;
    height: 56px;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 3.63636px;
}
    .icon-arrow-left {
        color: white;
        width: 10px;
        height: 24px;
        position: absolute;
        left: 14px;
        top: 13px;
        border: 1px solid #FFFFFF;
        border: none;
        background-image: url(icon-arrow-left.svg);
        background-position: center;
    }

    .middle-mask {
        position: absolute;
        width: 480px;
        height: 451px;
        left: 0px;
        top: 704px;
        background-color: #151515;
    }

    .middle-mask-heading-l {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 41px;
        line-height: 61px;
        text-transform: uppercase;
        position: absolute;
        height: 140px;
        left: 5%;
        width: 76%;
        color: #FFFFFF;
        /* right: 68.47%; */
        top: calc(34% - 55px/2 - 88px);
    }

    .middle-mask-heading-s {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        position: absolute;
        height: 36px;
        left: 5%;
        color: #D5966C;
        top: calc(50% - 49px/2 - 88px);
    }

    .middle-mask-content-s {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 26px;
        color: #FFFFFF;
        position: absolute;
        height: 96px;
        left: 5%;
        top: calc(50% - 43px/2 - 40px);
    }

    .middle-mask-content-l {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    height: 128px;
    left: 5%;
    width: 311px;
    right: 0%;
    top: calc(55% - 128px/2 + 94px);
}

.footer {
    width: 480px;
    height: 400px;
    position: absolute;
    background-color: #D5966C;
    top: 450px;
    left: 0px;
}
    .footer-heading-map {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 30px;
        width: 200px;
        height: 50px;
        position: absolute;
        left: 5%;
        right: 0%;
        top: 10%;
        color: #151515;
        text-transform: uppercase;
    }


    .footer-content-map {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        font-size: 15px;
        position: absolute;
        height: 84px;
        left: 5%;
        top: calc(48% - 71px/2);
        color: #151515;
        width: 301px;
    }

    .footer-icon-facebook-map {
        position: absolute;
        width: 150px;
        height: 20px;
        left: 7%;
        top: 80%;
        filter: invert(100%);
        background-image: url(icon-facebook.svg);
        background-repeat: no-repeat;
    }

    .footer-icon-instagram-map {
        position: absolute;
        width: 150px;
        height: 20px;
        left: 14%;
        top: 80%;
        filter: invert(100%);
        background-image: url(icon-instagram.svg);
        background-repeat: no-repeat;
    }

    .footer-icon-twitter-map {
        position: absolute;
        width: 200px;
        height: 22px;
        left: 21%;
        top: 80%;
        filter: invert(100%);
        background-image: url(icon-twitter.svg);
        background-repeat: no-repeat;
    }
}

/*MEDIA QUERY FOR TABLET SIZE*/
/*TABLET MEDIA SIZE FOR LOCATION PAGE/////////////////*/

@media only screen and (min-width:481px) and (max-width:825px){

    .image-map {
        width: 932px;
        height: 604px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-image: url(tablet/image-map.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .icon-arrow-left-box {
        position: absolute;
        left: 42px;
        width: 56px;
        height: 83px;
        background-color: #D5966C;
        align-items: center;
        border: none;
    }

    .icon-arrow-left {
        color: white;
        width: 10px;
        height: 24px;
        position: absolute;
        left: 21px;
        top: 32px;
        border: 1px solid #FFFFFF;
        border: none;
        background-image: url(icon-arrow-left.svg);
        background-position: center;
    }


    .middle-mask {
        position: absolute;
        width: 966px;
        height: 548px;
        left: 0px;
        top: 601px;
        background-color: #151515;
    }

    .button1idle-back-to-home {
        position: absolute;
        left: 97px;
        top: 0%;
        width: 219px;
        height: 83px;
        background-color: black;
        border: none;
        color: white;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.63636px;
    }
    .middle-mask-heading-l {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        position: absolute;
        height: 140px;
        left: 4%;
        width: 20%;
        color: #FFFFFF;
        right: 68.47%;
        top: calc(50% - 140px/2 - 88px);
    }

    .middle-mask-heading-s {
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        position: absolute;
        height: 36px;
        left: 41.35%;
        color: #D5966C;
        top: calc(50% - 140px/2 - 88px);
    }

    .middle-mask-content-l {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
        position: absolute;
        height: 128px;
        left: 41.35%;
        width: 284px;
        right: 0%;
        top: calc(50% - 123px/2 + 94px);
    }

    .middle-mask-content-s {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 29px;
        color: #FFFFFF;
        position: absolute;
        height: 96px;
        left: 41.35%;
        top: calc(50% - 113px/2 - 40px);
    }

    .footer-heading-map {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 33px;
        width: 200px;
        height: 58px;
        position: absolute;
        left: 2%;
        right: 0%;
        top: 25%;
        color: #151515;
        text-transform: uppercase;
    }



    .footer {
        width: 825px;
        height: 244px;
        position: absolute;
        background-color: #D5966C;
        top: 548px;
        left: 0px;
    }

    .footer-heading-map {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 29px;
        width: 200px;
        height: 58px;
        position: absolute;
        left: 6%;
        right: 0%;
        top: 34%;
        color: #151515;
        text-transform: uppercase;
    }

    .footer-content-map {
        font-family: 'Outfit';
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 29px;
        position: absolute;
        height: 84px;
        left: 29%;
        top: calc(50% - 131px/2);
        color: black;
        width: 253px;
    }

    

    .footer-icon-facebook-map {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 71%;
        top: 28%;
        background-image: url(icon-facebook.svg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: invert(100%);
    }

    .footer-icon-instagram-map {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 76.6%;
        top: 28%;
        filter: invert(100%);
        background-image: url(icon-instagram.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-icon-twitter-map {
        position: absolute;
        width: 37px;
        height: 30px;
        left: 82.2%;
        top: 28%;
        filter: invert(100%);
        background-image: url(icon-twitter.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

}
    


